<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Shopping Site</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body ng-app="productApp" ng-controller="productAppController">

    <!-- Header Section -->
    <header class="header">
        <div>
            <dialog>
                <i class="fa-solid fa-square-xmark fa-2xl"></i>
                <h1>Shopping Cart</h1>
                <label ng-if="cartProducts.length!=0">Order By</label>
                <select ng-model="orderProducts">
                    <option value="select">---Select---</option>
                    <option value="name">Product Name</option>
                    <option value="cost">Product Cost</option>
                </select>
                <div class="cart_products" ng-repeat="product in cartProducts | orderBy:orderProducts">
                    <h2>{{product.name}}</h3>
                        <p>{{product.unitCost}}</p>
                        <label>Enter units</label>
                        <br>
                        <input type="number" min="1" ng-model="product.units">
                        <button class="remove_from_cart" ng-click="removeFromCart(product)">Remove from Cart</button>
                </div>
                <p ng-if="cartProducts.length==0" class="empty_cart"><strong>Empty Cart</strong></p>
                <p ng-if="cartProducts.length!=0"><strong>Total Cost:</strong>
                    {{cartProducts | cartTotalCost}}</p>
                <!-- <p>{{units}}</p> -->
            </dialog>
            <button class="cart_button"><i
                    class="fa-solid fa-cart-shopping"></i><sub>{{cartProducts.length}}</sub></button>
        </div>
        <h1 class="main_heading">Welcome To Products Shopping Site</h1>
    </header>

    <!-- Search Section -->
    <div class="search">
        <label>Search</label>
        <input type="text" ng-model="searchProduct">
        <i class="fa-solid fa-magnifying-glass fa-lg"></i>
        <div class="filter">
            <i class="fa-solid fa-filter" id="filter_icon"></i>
            <div class="filter_content">
                <h3>Filter By:</h3>
                <button id="filter_product_name" onclick="changeColor()"> Product Name </button>
                <img src="images/close.png" alt="close" width="10px" height="10px" id="close_icon_1" onclick="changeToOriginalColor()">

                <button id="filter_product_cost" onclick="changeBgColor()"> Product Cost </button>
                <img src="images/close.png" alt="close" width="10px" height="10px" id="close_icon_2" onclick="changeToOriginalBgColor()">
            </div>
        </div>
    </div>

    <!-- Product Details Section -->
    <div class="form">
        <h3>Product Details</h3>
        <label>Product &nbsp;Name</label>
        <br>
        <input type="text" ng-model="productName">
        <br><br>
        <label>Product &nbsp; Cost</label>
        <br>
        <input type="number" class="product_cost" step="0.01" ng-model="productCost" min="0" placeholder="0">
        <button ng-click="onAddProduct(productName, productCost)">ADD</button>
    </div>

    <!-- Product Info Section -->
    <div class="products_info">
        <h1>Products Information</h1>
        <div class="products" ng-repeat="product in products | filter:searchProduct">
            <h2>{{product.name}}</h2>
            <p>{{product.unitCost}}</p>
            <button class="add_to_cart" ng-click="addToCart(product)">Add to Cart</button>
            <button class="remove_product" ng-click="removeProduct(product)">Remove Product</button>
        </div>
    </div>

    <script src="angular.js"></script>
    <script src="script.js"></script>
    <script>

    </script>
</body>

</html>